<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlIuzsewHZ9VCR9aUqHri_8qzn2Ltg6mc</string>
	<key>GCM_SENDER_ID</key>
	<string>926660605410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fast.borrow.money</string>
	<key>PROJECT_ID</key>
	<string>app-150</string>
	<key>STORAGE_BUCKET</key>
	<string>app-150.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926660605410:ios:443e91fc988dd4ebf6f5bb</string>
</dict>
</plist>